<!DOCTYPE html>
<html>
<head>
    <title>Alerts</title>
</head>
<body>
    
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greenline Tracker</title>
    <link rel="stylesheet" href="..\static\style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body class="wrapper">
    <!-- Header -->
    <header>
        <a href="{{ url_for('index') }}">
            <div class="logo">Greenline Tracker</div>
        </a>
        
        <nav>
            <ul>
                <li><a href="{{url_for('index')}}">Dashboard</a></li>
                <li><a href="{{url_for('stops')}}">Stops</a></li>
                <li><a href="{{url_for('schedules')}}">Schedules</a></li>
                <li><a href="{{url_for('travel_groups')}}">Travel Groups</a></li>
                <li><a href="{{url_for('alerts')}}">Alerts</a></li>
                <li><a href="{{url_for('feedback')}}">Feedback</a></li>
                <li><a href="/user-profile"><i class="fas fa-user-circle user-icon"></i></a></li>
            </ul>
        </nav>
    </header>

    <main class="content">
        <section id="train-info" class="section">
            <h1>Train Info</h1>
            <table>
                <thead>
                    <tr>
                        <th>Train ID</th>
                        <th>Route</th>
                        <th>Status</th>
                        <th>Current Stop</th>
                    </tr>
                </thead>
                <tbody id="train-info-list">
                    <!-- JavaScript will populate this -->
                </tbody>
            </table>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Greenline Tracker. All Rights Reserved.</p>
    </footer>

    <script src="script.js"></script>
</body>
</html>


